/*ESTILO GERAL*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

body {
  background-color: #868585;
  height: 100vh;
}

.interface {
  max-width: 80vw;
  margin: 0 auto;
}

/* ESTILO DO CABEÇALHO */
header {
  padding: 40px 4%;
  background-color: #000000;
}

header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-image {
  clip-path: circle(50% at 50% 50%);
  width: 50%;
  cursor: auto;
}
.nome-vinicius {
  color: rgb(255, 255, 255);
  padding: 10px 4%;
  max-width: 1280px;
  width: 400px;
}

.box-shadow{
  cursor: auto;
}

header a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.div-opcoes {
  display: flex;
  justify-content: space-between;
  width: 25%;
  cursor: pointer;
}
.texto-opcoes {
  color: rgb(180, 178, 178);
  border: 1px solid transparent;
}

.texto-opcoes:hover {
  color: #fff;
  border-bottom: 1px solid white;
  transition: 0.2s;
  transform: scale(1.2);
  transition: 0.2s;
}

.logo {
  max-width: 250px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.logo h1 {
  font-size: 20px;
  cursor: auto;
}

.ul li {
  font-size: 18px;
  font-weight: bold;
}

.texto-01 {
  padding: 23px;
}

#texto {
  max-width: 53vw;
  padding: 20px;  /* Ou ajuste conforme necessário */
  text-align: left; /* Altera para o alinhamento à esquerda */
  border-radius: 10px; /* Adiciona bordas arredondadas */
  overflow-wrap: break-word; /* Evita quebras de palavras */
  text-indent: 15px;
}


#texto p {
  font-size: 15px;
  
}

#texto p2 {
  font-size: 15px;
  font-weight: bold;
}

#texto p3{
  font-size: 15px;
}

#botao-contato {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 800;
  background-color: rgb(200, 196, 196);
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  border: 1px solid transparent;
}

#botao-contato:hover {
  background-color: rgb(0, 0, 0);
  transition: 0.3s;
  color: white;
  border: 1px solid white;

}

svg:hover path {
  fill: #ffffff;
  transition: 0.2s;
}
svg {
  cursor: pointer;
  margin: 20px auto;
  float: right;
  left: 10%;
  margin-right: 20px;
  padding: auto;
  height: 280px;
}

.frame-coffe {
  position: absolute;
  top: 249px;
  left: 188px;
  transition: transform 0.3s ease; 
  width: 50px;
  height: 60px;
  pointer-events: none;
}

svg:hover {
  transform: scale(1.2);
  transition: 0.2s;
}